aiosmtplib==1.1.7
anyio==3.5.0
APScheduler==3.9.1
asgiref==3.5.0
astroid==2.8.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.5
build==0.8.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
commonmark==0.9.1
cryptography==3.4.8
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.6.0
dnspython==2.2.1
docutils==0.18.1
emoji==1.7.0
entrypoints==0.4
executing==0.8.3
filelock==3.6.0
future==0.18.2
greenlet==1.1.2
h11==0.12.0
httpcore==0.15.0
httpx==0.24.1
idna==3.3
importlib-metadata==4.11.3
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.9.3
itsdangerous==2.1.2
jedi==0.18.0
jeepney==0.8.0
Jinja2==3.1.1
joblib==1.0.1
jsonschema==4.6.0
keyring==23.5.1
lazy-object-proxy==1.6.0
MarkupSafe==2.1.1
mccabe==0.6.1
mistune==0.8.4
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
nltk==3.7
oauthlib==3.2.0
packaging==21.0
pandocfilters==1.5.0
pickleshare==0.7.5
Pillow==8.4.0
plotly==5.9.0
python-telegram-bot==20.4
scikit-build==0.12.0
scikit-learn==1.0
sqladmin==0.6.1
SQLAlchemy==1.4.35
sqlalchemy2-stubs==0.0.2a27
sqlmodel==0.0.8
